<p id="who">
  <strong>Who:</strong>
  The course is aimed at undergraduate, graduate students, faculty, and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
    <br>
    <br>
     <strong>Please complete the registration at this link:</strong>
     <a href="https://informatics.institute.ufl.edu/2020/04/registration-uf-carpentries-club-geospatial-meets-neon-workshop/">REGISTRATION LINK</a>
     </strong>
</p>
